<!DOCTYPE html>
	<html>
		<head>
			<style>
				body {background-color: grey;
				}			
				h2	{font-size: 50px; font-style: italic; color: tan;
				}
				h3	{font-size: 25px; font-style: italic; left-margin: 17px; font-family: "Lucida Console", Monaco, monospace; 
				}
				p	{font-size: 20px; font-weight: bold; color: sienna; font-style: italic;
				}
			</style>
		</head>
	</html>	