#albumcoverimage {
    background: url(http://www.countryuniverse.net/wp-content/uploads/2015/11/Eric-Church-Mr-Misunderstood.jpg) no-repeat center;
    height: 400px;
    background-size: 450px 400px;
}
h2 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: "Lucida Console", Monaco, monospace;
	font-style: bold;
}
table, td, th {
	border: 1px solid black;
    border-collapse:collapse;
    text-align: center;
	font-style: bold;
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 18px;
}

ul {
    text-align: left;
}
h4 {
	font-color: black;
	font-family: "Lucida Console", Monaco, monospace;
	font-style: normal;
	font-size: 15px;
	font-style: bold;
}

h3 {
	font-color: black;
    font-family: "Lucida Console", Monaco, monospace;
    font-weight: bold;
	font-size: 50px;
	text-decoratioin: underline;
	font-style: bold;
}

li p {
    font-style: italic;
	font-weight: bold;
	font-family: "Lucida Console", Monaco, monospace;
}