.header {
		text-align: center;
		font-family: 'Baloo Bhaina', cursive;
		height: 55px;
		font-size: 50px;	
}	
.footer {
		font-family: 'Baloo Bhaina', cursive;
		font-size: 20px;
        position: absolute;
        bottom: 0;
        height: 45px;
        width: 100%;
        text-align: center;
        border-top: 1px solid black;
}
h4 {
	text-align: center;
	font-family; 'Baloo Bhaina', cursive;
	height: 25px;
	font-size: 15px;
}