.header {
		text-align: center;
		font-family: 'Baloo Bhaina', cursive;
		height: 50px;
		font-size: 25px;
		background-color:white;		
}	
.footer {
		font-family: 'Baloo Bhaina', cursive;
		border-top: 1px solid black;
		width: 100%;
		font-size: 14px;
		text-align: center;
}
h4 {
	text-align: center;
	font-family; 'Baloo Bhaina', cursive;
	height: 0px;
	font-size: 15px;
	text-decoration: underline;
	color: white;
}
html {
    top:0;
    bottom:0;
    left:0;
    right:0;
	
}

a:link {
		font-size: 16px; 
}

a:visited {
			color: red; 
			text-decoration: none;
}

a:hover {
		color: blue; 
		font-weight: bold;
}

a:active {
			color: blue; 
			text-decoration: none;
}