<!DOCTYPE html>
	<html>
		<head>
			<style>
				header {background-color: red;
				}			
				h1	{font-size: 50px; font-style: italic; color: white;
				}
				h4	{font-size: 25px; font-style: italic; left-margin: 17px; font-family: "Lucida Console", Monaco, monospace; 
				}
				p	{font-size: 20px; font-weight: bold; color: sienna; font-style: italic;
				}
			</style>
		</head>
	</html>