a:visited {
			color: grey; 
			text-decoration: none;
}

a:hover {
		color: blue; 
		text-decoration: underline;
		background-color: brown;
}
				
a:active {
		color: orange; 
		text-decoration: none;
}		

.css-selector {
				font-family: 'Architects', Daughter;
}

header h2 {
	font-family: 'Architects', Daughter;
	font-size: 36px;
	font-weight: bold;
	color: white;
}

a {
	text-decoration: none;
	font-weight: bold;
	font-size: 24px;
	font-family: 'Architects', Daughter;
	color: white;
}

p {
	text-decoration: none;
	font-weight: bold;
	font-size: 28px;
	font-family: 'Architects', Daughter;
	color: white;
}

tbody{
	background-color: tan;
	font-style: italic;
}

th {
	text-align: center;
	padding: 7px;
}

.container-fluid h3:first-of-type {
					font-family: 'Architects', Daughter;
					font-size: 30px;
					font-weight: bold;
					color: white;
}

.container-fluid h4:first-of-type {
					font-family: 'Architects', Daughter;
					font-weight: bold;
					text-decoration: underline;
					font-size: 20px;
					color: white;
}

table.table {
	border: 1px solid black;
	width: 100%;
	margin: 0 auto 10 px;
	color: black;
	font-weight: bold;
}

td	{
	padding: 7px;
}

th 	{
	padding 7px;
}

a:link {
		color: red; 
		font-size: 18px; 
		text-shadow:6px 6px 6px black;
}

li p {
    font-style: italic;
	font-weight: bold;
	font-family: "Lucida Console", Monaco, monospace;
}

table, td, th {
	border: 1px solid black;
    border-collapse:collapse;
    text-align: center;
	font-style: bold;
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 18px;
}

ul {
	font-style: italic;
    text-align: left;
	padding: 18px;
	color: white;
}





